/JazminnaSmirniMidterm_makeup_exercise_1
/JazminnaSmirniMidterm_makeup_exercise_2
/JazminnaSmirniMidterm_makeup_exercise_3
/JazminnaSmirni_Lab5Exercise2.c
/JazminnaSmirni_Lab_1_exercise_2
/JazminnaSmirni_Lab_1_exercise_3
/JazminnaSmirni_Lab_1_exercise_4
/JazminnaSmirni_Lab_2_exercise_1
/JazminnaSmirni_Lab_2_exercise_2
/JazminnaSmirni_Lab_2_exercise_3
/JazminnaSmirni_Lab_4_exercise_1
/JazminnaSmirni_Lab_4_exercise_2
/JazminnaSmirni_Lab_4_exercise_3
/JazminnaSmirni_Lab_5_exercise_1
/JazminnaSmirni_Lab_5_exercise_2
/JazminnaSmirni_Lab_6_exercise_1
/JazminnaSmirni_Lab_6_exercise_2
/JazminnaSmirni_Lab_6_exercise_3
/JazminnaSmirni_Lab_7_exercise_1
/JazminnaSmirni_Lab_7_exercise_2
/JazminnaSmirni_Midterm_exercise_1
/JazminnaSmirni_Midterm_exercise_2
/Jazminna_Smirni_ex1.c